@charset "utf-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'microsoft yahei';
}

fieldset,
img {
    border: 0
}

a {
    text-decoration: none; /* 连接里无下划线*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "microsoft yahei"
}

ul,
ol {
    list-style: none
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0
}

input {
    border: none;
}
.clearfix:before,.clearfix:after{
    content: " ";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
