<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 处理IE兼容性作用！让IE使用最新渲染引擎渲染画面 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="deacription" content="北京中联学艺科技有限公司, 简称中联科技或中联学艺,是一家专门从事互联网建设的公司">
    <meta name="keywords" content="网站建设 网站开发 移动网站建设 手机网站 微网站建设 APP应用程序 微信营销 企业网站 网页设计 北京网站建设">
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="main/css/main.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <script src="js/jquery.js"></script>
    <script src="main/js/main.js"></script>
    <script src="js/template-native.js"></script>
    <title>官网中联科技_北京中联学艺科技有限公司_高端网站建设</title>
</head>
<body>
<!--header-s-->
<div class="header clearfix">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="main/images/main-img/logo.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="./index.html">网站首页</a></li>
                    <li>
                        <a href="./aboutus/aboutus.html#/discrible">关于我们</a>
                        <ul class="subnav1 public clearfix">
                            <a href="./aboutus/aboutus.html#/discrible">公司简介</a>
                            <a href="./aboutus/aboutus.html#/culture">企业文化</a>
                            <a href="./aboutus/aboutus.html#/recruitment">人才招聘</a>
                        </ul>
                    </li>
                    <li>
                        <a href="./news/news.html#/company">新闻资讯</a>
                        <ul class="subnav2 public clearfix">
                            <a href="./news/news.html#/company">公司新闻</a>
                            <a href="./news/news.html#/trade">行业新闻</a>
                            <a href="news/news.html#/knowledge">专业知识</a>
                        </ul>
                    </li>
                    <li><a href="#">成功案例</a></li>
                    <li><a href="#">团队精英</a></li>
                    <li>
                        <a href="#">专业服务</a>
                        <ul class="subnav3 public clearfix">
                            <a href="#">服务优势</a>
                            <a href="#">服务范畴</a>
                        </ul>
                    </li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--header-e-->

<!--视频循环部分总成-s-->
<div id="main">


    <!--遮罩部分-s-->
    <div class="bgc1"></div>
    <!--设置点-->
    <div class="bgc2"></div>
    <!--设置背景过滤层（渐变）-->
    <div class="bgc3"></div>
    <!--设置连线-->
    <!--遮罩部分-e-->


    <!--视频部分-s-->
    <div class="homevideo">
        <video id="mainvideo" autoplay loop>
            <source src="main/images/main-img/home.webm" type="video/webm"/>
            <source src="" type="video/mp4"/>
        </video>
    </div>
    <!--视频部分-e-->


    <!--旋转动画-s-->
    <div class="turn-pic">
        <!--最外层旋转-s-->
        <div class="turn-b">
            <div class="turn-b1"></div>
            <div class="turn-line1"></div>
            <div class="turn-line2"></div>
        </div>
        <!--最外层旋转-e-->
        <!--中间旋转-s-->
        <div class="turn-m clearfix">
            <img src="main/images/main-img/mainxz2.png"/>
        </div>
        <!--中间旋转-e-->
        <!--里面旋转-s-->
        <div class="turn-s clearfix">
            <img src="main/images/main-img/mainxz1.png"/>
        </div>
        <!--里面旋转-e-->

    </div>
    <!--旋转动画-e-->

    <!--轮播特效部分（3D）-s-->
    <div class="scroll">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!--触摸小点-->
    <div class="tags ">
        <li value="0"></li>
        <li value="1"></li>
        <li value="2"></li>
        <li value="3"></li>
    </div>
    <!--轮播特效部分（3D）-e-->

    <!--右上角导航-s-->
    <div class="keep_nav clearfix">
        <ul class="clearfix">
            <li><a href="./index.html">网站首页</a></li>
            <li class="son">
                <a href="./aboutus/aboutus.html#/discrible">关于我们</a>
                <ul class="subnav1 public clearfix">
                    <a href="./aboutus/aboutus.html#/discrible">公司简介</a>
                    <a href="./aboutus/aboutus.html#/culture">企业文化</a>
                    <a href="./aboutus/aboutus.html#/recruitment">人才招聘</a>
                </ul>
            </li>
            <li class="son">
                <a href="./news/news.html#/company">新闻资讯</a>
                <ul class="subnav2 public clearfix">
                    <a href="./news/news.html#/company">公司新闻</a>
                    <a href="./news/news.html#/trade">行业新闻</a>
                    <a href="./news/news.html#/knowledge">专业知识</a>
                </ul>
            </li>
            <li><a href="#">成功案例</a></li>
            <li><a href="#">团队精英</a></li>
            <li class="son">
                <a href="#">专业服务</a>
                <ul class="subnav3 public clearfix">
                    <a href="#">服务优势</a>
                    <a href="#">服务范畴</a>
                </ul>
            </li>
            <li><a href="#">联系我们</a></li>

        </ul>
    </div>
    <!--右上角导航-e-->

    <!--右下角音乐小图标-s-->
    <div class="music-icon clearfix">
        <a><img src="main/images/main-img/soundkg.gif"/>SOUND</a>
    </div>
    <!--右下角音乐小图标-e-->
</div>
<!--视频循环部分总成-e-->

<!--what can we do-s-->
<div class="weDo clearfix">
    <div class="container clearfix">
        <h3>我们能做什么</h3>
        <span class="do-pic clearfix">
            <img src="main/images/main-img/t2.png"/>
        </span>
        <ul class="clearfix">
            <div class="public col-xs-12 col-md-6 col-lg-3">
                <li class="clearfix">
                    <img src="main/images/main-img/ab_04.png" alt=""/>

                    <div class='text'>
                        <h4>高端企业 网站设计定制</h4>
                        <span>网站策划 网站设计 网站制作</span>
                        <span>网站维护 域名注册 虚拟主机</span>
                        <span>企业邮箱 400电话</span>
                    </div>
                    <div class="bgc"></div>
                </li>
            </div>
            <div class="public col-xs-12 col-md-6 col-lg-3">
                <li class="clearfix ">
                    <img src="main/images/main-img/ab_05.png" alt=""/>

                    <div class='text'>
                        <h4>移动互联网建设</h4>
                        <span>移动网站建设 手机网站建设</span>
                        <span>微信网站建设 WAP网站建设</span>
                        <span>APP定制开发</span>
                    </div>
                    <div class="bgc"></div>
                </li>
            </div>
            <div class="public col-xs-12 col-md-6 col-lg-3">
                <li class="clearfix ">
                    <img src="main/images/main-img/ab_06.png" alt=""/>

                    <div class='text'>
                        <h4>企业品牌形象设计</h4>
                        <span>品牌定位 标志设计 VICI设计</span>
                        <span>画册设计 包装设计 导示设计</span>
                        <span>商标注册 物料印刷</span>
                    </div>
                    <div class="bgc"></div>
                </li>
            </div>
            <div class="public col-xs-12 col-md-6 col-lg-3">
                <li class="clearfix ">
                    <img src="main/images/main-img/ab_07.png" alt=""/>

                    <div class='text'>
                        <h4>全媒体营销</h4>
                        <span>地铁广告 品牌推广 产品推广 </span>
                        <span>活动推广 事件营销 口碑营销 </span>
                        <span>微博营销 人物推广 影视推广</span>
                    </div>
                    <div class="bgc"></div>
                </li>
            </div>
        </ul>
    </div>
</div>
<!--what can we do-e-->

<!--服务流程-s-->
<div class="service-process">
    <div class="container">
        <h3 class="service">服务流程</h3>
        <span class="en">SERVICE PROCESS</span>
        <em class="line"></em>
        <span class="text">我们专业提供一站式服务，从网站品牌规划、视觉设计、交互设计、动效创意，到程序开发，运营维护。中联科技06年成立到现在10年的时间，我们拥有了丰富的建站经验和运维经验，来保证我们的工作的顺利进行。</span>

        <div class="process clearfix">
            <div class="text">
                <span class="t1">需求 评估</span>
                <span class="t2">协议</span>
                <span class="t3">规划</span>
                <span class="t4">风格沟通</span>
                <span class="t5">设计</span>
                <span class="t6">设计修改/确认</span>
                <span class="t7">前端制作</span>
                <span class="t8">开发</span>
                <span class="t9">程序开发</span>
                <span class="t10">上线</span>
                <span class="t11">售后服务</span>
            </div>
            <div class="icon">
                <em class="i1"></em>
                <em class="i2"></em>
                <em class="i3"></em>
                <em class="i4"></em>
                <em class="i5"></em>
                <em class="i6"></em>
                <em class="i7"></em>
            </div>

        </div>

    </div>
</div>
<!--服务流程-e-->

<!--服务客户-s-->
<div class="customer-service clearfix">
    <div class="container">
        <h3>服务客户 Customer Service</h3>
        <span>快速、贴心、无微不致</span>
        <ul class="clearfix">
            <li value="中电科"><em>中电科</em></li>
            <li value="德伦口腔"><em>德伦口腔</em></li>
            <li value="苍穹数码"><em>苍穹数码</em></li>
            <li value="东阳国际"><em>东阳国际</em></li>
            <li value="中福在线"><em>中福在线</em></li>
            <li value="凯德置地"><em>凯德置地</em></li>
            <li value="汇佳幼儿园"><em>汇佳幼儿园</em></li>
            <li value="盛世康"><em>盛世康</em></li>
            <li value="水晶石"><em>水晶石</em></li>
            <li value="尚品宅配"><em>尚品宅配</em></li>
            <li value="邓禄普"><em>邓禄普</em></li>
            <li value="商用车新网"><em>商用车新网</em></li>
        </ul>
        <a href="#">MORE INFO →</a>
    </div>
</div>
<!--服务客户-e-->

<!--我们的优势-s-->
<div class="advantages clearfix">
    <div class="container">
        <h3>我们的优势 Our Advantages</h3>
        <span>创独一无二的设计，造国际品质的网站，行无微不至的服务</span>

        <div class="advantages-box clearfix">
            <div class="advantages-box1">
                <img src="main/images/main-img/sheji.png" alt=""/>

                <h3>我们的设计 Our Design</h3>
                <span>从用户需求到流行风格，每个环节都有优秀的设计团队为您服务，每一个设计作品都独一无二，每一次服务体验都觉得那么亲切。</span>
            </div>

            <div class="advantages-box1">
                <img src="main/images/main-img/gongcheng.png" alt=""/>

                <h3>我们的技术 Our Engineering</h3>
                <span>网站安全稳定是体现一个网站服务商技术的最好说明，细致严谨的工作态度，科学规范的工作流程，立足国际品质的理念，让世界为我们喝彩。</span>
            </div>

            <div class="advantages-box1">
                <img src="main/images/main-img/fuwu.png" alt=""/>

                <h3>我们的服务 Our Service</h3>
                <span>当我们第一次建立沟通时，我们的服务就已经开始，对中联科技来说，客户永远是被放在第一位的，我们始终站在客户的角度去思考。</span>
            </div>
        </div>

    </div>
</div>
<!--我们的优势-d-->

<!--成功案例-s-->
<div class="success-case clearfix">
    <div class="container">
        <h3>成功案例 Case</h3>
        <span>您就是唯一，令世界瞩目的唯一</span>
        <ul class="clearfix">
            <li>
                <span>
                    <h3>电科软信</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
            <li>
                 <span>
                    <h3>5U体育</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
            <li>
                 <span>
                    <h3>无忧我房</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
            <li>
                 <span>
                    <h3>春播</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
            <li>
                 <span>
                    <h3>贡茶</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
            <li>
                 <span>
                    <h3>住哪儿</h3>
                    <a href="#">MORE INFO →</a>
                </span>
            </li>
        </ul>
        <a class="suc-button" href="#">MORE INFO →</a>
    </div>
</div>
<!--成功案例-e-->


<!--about us-s-->
<div class="about-us clearfix">
    <div class="container">
        <h3>关于我们 About US</h3>
        <span>诚以载道，以信立本，合作共赢</span>

        <p>
            始于2006年，九年积淀，感受着城市跳跃的音符。我们不仅仅是做网页和设计，我们是优秀的网站策划、咨询、研究团队。我们是中国互联网的中坚力量，我们愿意不断尝试，敢于创造——北京中联学艺科技有限公司，我们是一家这样的企业。</p>

        <p>
            我们精于专业的互联网技术，从网站建设，网站策划到网络营销，我们专注于品牌网站，不追求更多的客户数量，我们在乎的是给到客户作品的品质，以有限的精力为已有客户创造最大价值。促进品牌与消费者不间断的深层次互动，凭独特的视角冲破行业束缚。
            |<a href="#"> MORE INFO →</a></p>
        <ul class="text clearfix">
            <li class="clearfix"><a href="#">我们的团队 Honor</a></li>
            <li><a href="">我们的地址 Team</a></li>
        </ul>
    </div>
</div>
<!--about us-e-->

<!--info-s-->
<div class="info clearfix">
    <div class="container clearfix">
        <div class="tpl clearfix">
            <!--模板引擎-->
        </div>
        <a class="change-button" href="javascript:;">换一批 →</a>
    </div>
</div>
<!--info-e-->

<!--footer-s-->
<div class="footer clearfix">
    <div class="container">
        <ul class=" clearfix">
            <li class="msg clearfix">
                <h3>在线预约 Online booking</h3>
                <input class="name" type="text" placeholder="您的尊称 Name/--->由至少两个汉字组成"/>
                <input class="phone" type="text" placeholder="您的电话 Phone/--->由至多11个数字组成"/>
                <textarea type="text" placeholder="您要留言的内容 Content"></textarea>
                <a class="suc-button" href="#">立即提交 Submit →</a>
                <span class="name-juge">!!格式错误</span>
                <span class="phone-juge">!!格式错误</span>
            </li>
            <li class=" clearfix">
                <h3>联系我们 Contact US</h3>

                <p>公司地址：中国·北京朝阳区传媒总部基地B座234</p>

                <p>服务电话：010-85377344</p>

                <p>服务手机：15811250165 / 17051002099</p>

                <p>Q　　Q：2082374788 / 734397645</p>

                <p>E-mail：info@zlxy.net</p>

                <h3>快捷入口 Quick Entry</h3>

                <p class="link"><a href="http://localhost:63342/%E4%B8%AD%E8%81%94%E7%A7%91%E6%8A%80%E9%A1%B9%E7%9B%AE/aboutus/aboutus.html#/discrible">关于我们</a> / <a href="#">新闻资讯</a> /<a href="#">成功案例</a> / <a href="">团队精英</a>
                    / <a
                            href="">专业服务</a> / <a href="">联系我们</a> /</p>
            </li>
            <li class=" clearfix">
                <h3>内容搜索 Search</h3>
                <input class="keywords" type="text" placeholder="输入关键词 keyword"/>

                <p>招商合作 ： 135-2158-1588</p>

                <p>投诉建议 ： 158-1125-1090</p>

                <p>Email ： 736227272@qq.com</p>

            </li>
        </ul>
        <div class="kind-link">
            <p>友情链接： <a href="">亿联招聘</a> <a href="">中联科技 </a>友链申请QQ：2082374788 / 734397645</p>
        </div>
    </div>
</div>
<div class="adress clearfix">
    <div class="container">
        <div class="text">COPYRIGHT © 2008-2015 中联科技 ALL RIGHTS RESERVED 京ICP备12036981号 POWERED BY 技术支持</div>
        <div class="icon clearfix">
            <img src="main/images/main-img/foot1.png" alt=""/>
            <img src="main/images/main-img/foot2.png" alt=""/>
            <img src="main/images/main-img/foot3.png" alt=""/>
            <img src="main/images/main-img/foot4.png" alt=""/>
            <img src="main/images/main-img/foot5.png" alt=""/>
        </div>
    </div>
</div>
<!--footer-e-->



<!--模板数据-->
<script type="text/template" id='tpl'>
    <div class="box clearfix">
        <h3><%= title %></h3>
        <li><a href="#"><%= news1 %></a><span><%= date1 %></span></li>
        <li><a href="#"><%= news2 %></a><span><%= date2 %></span></li>
        <li><a href="#"><%= news3 %></a><span><%= date3 %></span></li>
        <li><a href="#"><%= news4 %></a><span><%= date4 %></span></li>
        <li><a href="#"><%= news5 %></a><span><%= date5 %></span></li>
        <li><a href="#"><%= news6 %></a><span><%= date6 %></span></li>
        <a class="info-button" href="#">MORE INFO →</a>
    </div>
</script>

<script src="js/bootstrap.min.js"></script>
</body>
</html>