/*成功案例-s*/
.success-case {
    width: 100%;
}

.success-case .container {
    padding: 50px 0 30px 0;
}

.success-case .container h3 {
    font-size: 24px;
    margin: 0 0 25px 0;
    color: black;
    text-align: center;
}

.success-case .container span {
    font-size: 14px;
    color: #cccccc;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.success-case .container li {
    width: 360px;
    float: left;
    /*position: relative;*/
    height: 256px;
    margin: 15px;
}

.success-case .container ul {
    margin: 0 auto;
}

.success-case .container li:nth-child(1) {
    background: url(../images/01.jpg);
}

.success-case .container li:nth-child(2) {
    background: url(../images/02.jpg);
}

.success-case .container li:nth-child(3) {
    background: url(../images/03.jpg);
}

.success-case .container li:nth-child(4) {
    background: url(../images/04.jpg);
}

.success-case .container li:nth-child(5) {
    background: url(../images/05.jpg);
}

.success-case .container li:nth-child(6) {
    background: url(../images/06.jpg);
}

.success-case .container li:nth-child(7) {
    background: url(../images/07.png);
}

.success-case .container li:nth-child(8) {
    background: url(../images/08.jpg);
}

.success-case .container li:nth-child(9) {
    background: url(../images/09.jpg);
}

.success-case .container li:nth-child(10) {
    background: url(../images/10.jpg);
}

.success-case .container li:nth-child(11) {
    background: url(../images/11.jpg);
}

.success-case .container li:nth-child(12) {
    background: url(../images/12.jpg);
}

.success-case .container li span {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #f75a53;
    opacity: .8;
    padding: 30px 0 0 20px;
    position: relative;
    /*display: none;*/
}

.success-case .container span h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    float: left;
}

.success-case .container span a {
    height: 35px;
    width: 150px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -75px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

.success-case .container span a:hover {
    text-decoration: none;
    background-color: #afd9ee;
}

.success-case .container .suc-button {
    display: block;
    width: 170px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    background-color: #f75a53;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    border-radius: 6px;
}

.success-case .container .suc-button:hover {
    background-color: #009fde;
}

/*适配*/
@media (max-width: 1210px) {
    .success-case .container ul {
        width: 780px;
    }
}

@media (max-width: 800px) {
    .success-case .container ul {
        width: 360px;
    }
}

/*成功案例-e*/